fastapi
uvicorn
sqlalchemy
pymysql
python-multipart
python-dotenv
openai
httpx
python-jose[cryptography]
passlib[bcrypt]
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 